<div class="wrapper">
    <div class="footer-col-wrapper">
        <p>Produced by UBC Advanced Research Computing & UBC Library | 2022</p>
        <p>Contributors: Nicholas Rochlin (UBC ARC), Mathew Vis-Dunbar (UBC Library), Jeff Gardner (UBC ARC), Elizabeth Kinney (UBC ARC), Jeremy Buhler (UBC Library), Doug Brigham (UBC Library), and Eugene Barsky (UBC Library)</p>
        <p>Contact: <a href="mailto:csc.ok@ubc.ca>csc.ok@ubc.ca</a> | <a href="mailto:arc.support@ubc.ca>arc.support@ubc.ca</a> | <a href="mailto:research.commons@ubc.ca>research.commons@ubc.ca</a></p>
  </div>
</div>
